% CV generation
% Copyright (C) 2022 Yannick Ulrich
%
% This program is free software: you can redistribute it and/or modify
% it under the terms of the GNU General Public License as published by
% the Free Software Foundation, either version 3 of the License, or
% (at your option) any later version.
%
% This program is distributed in the hope that it will be useful,
% but WITHOUT ANY WARRANTY; without even the implied warranty of
% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
% GNU General Public License for more details.
%
% You should have received a copy of the GNU General Public License
% along with this program.  If not, see <https://www.gnu.org/licenses/>.

%PDFLATEX
\documentclass[11pt,a4paper,sans]{moderncv}
\usepackage[english]{babel}
\usepackage[scale=0.70]{geometry}
\recomputelengths

\usepackage[T1]{fontenc}
\usepackage{lmodern}
\DeclareOldFontCommand{\sc}{\normalfont\scshape}{\@nomath\sc}
\usepackage[super]{nth}
\bibliographystyle{JHEP}

\moderncvtheme[black]{classic}
\makeatletter
\NewDocumentCommand{\mysubsection}{sm}{%
  \par\addvspace{1ex}%
  \phantomsection{}% reset the anchor for hyperrefs
  \addcontentsline{toc}{subsection}{#2}%
  \parbox[t]{\hintscolumnwidth}{\strut\raggedleft\raisebox{\baseletterheight}{\color{color1}\rule{0.95ex}{0.95ex}}}%
  \hspace{\separatorcolumnwidth}%
  \parbox[t]{\maincolumnwidth}{\strut\subsectionstyle{#2}}%
  \par\nobreak\addvspace{1ex}\@afterheading}% to avoid a pagebreak after the heading
\makeatother

\newcommand{\myentryA}[1]{\cvitem{#1}{}}
\newcommand{\myentryB}[2]{\cvitem{#1}{#2}}
\newcommand{\myentryC}[3]{\cventry{#1}{#2}{#3}{}{}{}}
\newcommand{\myentryD}[4]{\cventry{#1}{#2}{#3}{#4}{}{}}
\newcommand{\myentryE}[5]{\cventry{#1}{#2}{#3}{#4}{}{#5}}
\newcommand{\myentryCP}[4]{\cventry{#1}{#2}{#3}{#4}{}{}}
\newcommand{\myentryDP}[5]{\cventry{#1}{#2}{#3}{#4}{#5}{}}



\firstname{\VAR{ cv['meta']['firstname'] }}
\familyname{\VAR{ cv['meta']['lastname'] }}
\title{Curriculum Vitae}
\address{\VAR{ cv['meta']['address'][0] }}{\VAR{ "\\makenewline\n".join( cv['meta']['address'][1:]) }}
\email{\VAR{ cv['meta']['email'] }}
\renewcommand*{\orcidsocialsymbol}{$\vcenter{\hbox{\includegraphics[height=1em]{orcid}}}$\ }
\social[orcid]{\VAR{ cv['meta']['orcid'] }}


\begin{document}


\makecvtitle
\sethintscolumnlength{3cm}

\BLOCK{ for sec in cv['sections'] }
    \BLOCK{ if "citekeys" in sec }
        \renewcommand\refname{Publications}
        \section{\refname}
        \hyphenpenalty=10000
        \BLOCK{ for n, e in enumerate(sec['citekeys']) }
            \cvitem{[\VAR{ len(sec['citekeys']) - n }]}{
                \VAR{ e['author'] }, \emph{\VAR{ e['title'] }}
                \BLOCK{- if 'in' in e -}
                    \ in \VAR{ e['in'] }, \VAR{ e['date'] }
                    \href{https://arxiv.org/abs/\VAR{ e['arxiv'] }}{ \VAR{ e['arxiv'] }}.
                \BLOCK{- elif 'journal' in e -}
                    , \emph{\VAR{ e['journal'] }}
                    {\bfseries \VAR{ e['volume'] }}
                    (\VAR{ e['date'] })
                    \VAR{ e['page'] }
                    [\href{https://arxiv.org/abs/\VAR{ e['arxiv'] }}{\VAR{ e['arxiv'] }}].
                \BLOCK{- elif 'doi' in e -}
                    , \href{https://dx.doi.org/\VAR{ e['doi'] }}{\VAR{ e['doi'] }}.
                \BLOCK{- elif 'url' in e -}
                    , \url{\VAR{ e['url'] }}.
                \BLOCK{- else -}
                    , \href{https://arxiv.org/abs/\VAR{ e['arxiv'] }}{\VAR{ e['arxiv'] }}.
                \BLOCK{ endif }
            }
        \BLOCK{ endfor }
    \BLOCK{ elif 'talks' in sec }
        \section{Talks}
        \BLOCK{ for e in sec['talks'] }
            \myentry\VAR{ 'D' if 'place' in e else 'C' }\VAR{ "P" if ('pdf' in e) or ('mypdf' in e) else "" }
                    {\VAR{ e['date'] }}
                    {\VAR{ e['title'] }}
            \BLOCK{ if 'link' in e }
                    {\href{\VAR{ e['link'] }}{\VAR{ e['series'] }}}
            \BLOCK{ else }
                    {\VAR{ e['series'] }}
            \BLOCK{ endif }
            \BLOCK{ if 'place' in e }
                    {\VAR{ e['place'] }}
            \BLOCK{ endif }
            \BLOCK{ if 'pdf' in e }
                    {(\href{\VAR{ e['pdf'] }}{pdf})}
            \BLOCK{ elif 'mypdf' in e }
                    {(\href{https://yannickulrich.gitlab.io/talks/\VAR{ e['mypdf'] }.pdf}{pdf})}
            \BLOCK{ endif }
        \BLOCK{ endfor }
    \BLOCK{ elif 'content' in sec }
        \BLOCK{ if 'subsection' in sec }
            \mysubsection{\VAR{ sec['name'] }}
        \BLOCK{ else }
            \section{\VAR{ sec['name'] }}
        \BLOCK{ endif }

        \BLOCK{ for e in sec['content'] }
            \myentry\VAR{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[len(e)-1] }
            \BLOCK{ for p in e }
                {\VAR{ p }}
            \BLOCK{ endfor }
        \BLOCK{ endfor }
    \BLOCK{ endif }
\BLOCK{ endfor }
\end{document}
