{#
CV generation
Copyright (C) 2022 Yannick Ulrich

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<html>
    <head>
        <title>{{ cv['meta']['firstname'] }} {{ cv['meta']['lastname'] }} &mdash; CV</title>
        <style type="text/css">
            html * {
                font-family: Georgia, sans-serif;
            }
            #content{
                max-width: 51rem;
                margin: auto auto 2rem;
                padding: 1rem 1rem 0px;
            }
            #content a{
                text-decoration: none;
                border-bottom: 1px dotted rgb(0, 75, 107);
                color: rgb(0, 75, 107);
            }
            h1,h2,h3,h4,h5,h6 {
                font-weight: normal;
                margin: 30px 0px 10px 0px;
                padding: 0px;
                text-align: left;
            }
            td:first-child {
                width: 200px;
                text-align: right;
                vertical-align: top;
                padding-right: 30px;
            }
            .sc {
                font-variant: small-caps;
            }
        </style>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            window.MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
        </script>

    </head>
    <body>
        <div id="content">
        <div id="head">
            <h1>{{ cv['meta']['firstname'] }} {{ cv['meta']['lastname'] }} &mdash; CV</h1>

            <table>
                <tr>
                    <td>Address</td><td>{{ "<br/>".join(cv['meta']['address']) }}</td>
                </tr>
                <tr>
                    <td>Email</td><td>{{ cv['meta']['email'] }}</td>
                </tr>
                <tr>
                    <td>ORCID</td><td><a href="https://orcid.org/{{ cv['meta']['orcid'] }}">{{ cv['meta']['orcid'] }}</a></td>
                </tr>
            </table>
        </div>
        <div id="body">
            {% for sec in cv['sections'] %}
                {% if 'subsection' in sec %}
                    <h3>{{ sec['name'] }}</h3>
                {% else %}
                    <h2>{{ sec['name'] }}</h2>
                {% endif %}

                <table>
                {% if "citekeys" in sec %}
                    {% for n, e in enumerate(sec['citekeys']) %}
                        <tr><td>[{{ len(sec['citekeys']) - n }}]</td><td>
                            {{ e['author'] }}, <i>{{ e['title'] }}</i>
                            {%- if 'in' in e -%}
                                &nbsp;
                                in <i>{{ e['in'] }}</i>, {{ e['date'] }}
                                <a href="https://arxiv.org/abs/{{ e['arxiv'] }}"><span class="tt">{{ e['arxiv'] }}</span></a>.
                            {%- elif 'journal' in e -%}
                                , <i>{{ e['journal'] }}</i>
                                <b>{{ e['volume'] }}</b>
                                ({{ e['date'] }})
                                {{ e['page'] }}
                                [<a href="https://arxiv.org/abs/{{ e['arxiv'] }}"><span class="tt">{{ e['arxiv'] }}</span></a>].
                            {%- elif 'doi' in e -%}
                                , <a href="https://dx.doi.org/{{ e['doi'] }}"><span class="tt">doi:{{ e['doi'] }}</span></a>.
                            {%- elif 'url' in e -%}
                                , <a href="{{ e['url'] }}">link</a>.
                            {%- else -%}
                                , <a href="https://arxiv.org/abs/{{ e['arxiv'] }}"><span class="tt">{{ e['arxiv'] }}</span></a>.
                            {% endif %}
                        </td></tr>
                    {% endfor %}
                {% elif "talks" in sec %}
                    {% for e in sec['talks'] %}
                        <tr>
                            <td>{{ e['date'] }}</td>
                            <td>
                                <b>{{ e['title'] }}</b>,
                                {% if 'link' in e %}
                                    <i><a href="{{ e['link'] }}">{{ e['series'] }}</a></i>
                                {%- else -%}
                                    <i>{{ e['series'] }}</i>
                                {%- endif -%}
                                {%- if 'place' in e -%}
                                    , {{ e['place'] }}
                                {%- endif -%}.
                                {% if 'pdf' in e %}
                                    (<a href="{{ e['pdf'] }}">pdf</a>)
                                {%- elif 'mypdf' in e %}
                                    (<a href="https://yannickulrich.gitlab.io/talks/{{ e['mypdf'] }}.pdf">pdf</a>)
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% elif "content" in sec %}
                    {% for e in sec['content'] %}
                        <tr>
                        <td>{{ e[0] }}</td>
                        {% if len(e) == 2 %}
                            <td>{{ e[1] }}</td>
                        {% elif len(e) == 3 %}
                            <td><b>{{ e[1] }}</b>, <i>{{ e[2] }}</i>.</td>
                        {% elif len(e) == 4 %}
                            {% if e[2] %}
                                <td><b>{{ e[1] }}</b>, <i>{{ e[2] }}</i>, {{ e[3] }}.</td>
                            {% else %}
                                <td><b>{{ e[1] }}</b>, {{ e[3] }}.</td>
                            {% endif %}
                        {% elif len(e) == 5 %}
                            <td><b>{{ e[1] }}</b>, <i>{{ e[2] }}</i>, {{ e[3] }}. {{ e[4] }}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </table>
            {% endfor %}
        </div>
        </div>
    </body>
</html>
